.service-img{
    height: 100%;
}

.phone{
    width: 16rem;
    position: absolute;
    z-index: 1;
    right: 2rem;
}

.logo{
    width: 7rem;
}


@media only screen and (min-width: 470px){
    .phone{
        width: 18rem;
    }  
}

@media only screen and (min-width: 770px){
    .phone{
        width: 21rem;
    }    
}

@media only screen and (min-width: 1024px){
    .service-img{
        width: 100%;
        height: auto;
    }
    
    .phone{
        width: 25rem;
        position: relative;
        right: 0rem;
    }
}