.service-img{
    height: 100%;
}

.phone{
    width: 16rem;
    position: absolute;
    z-index: 1;
    right: 2rem;
}

.img-background{
    height: 100%;
    width: auto;
    margin-top: 3rem;
}

.img-background-form-submit{
    z-index: -1;
    height: 100%;
    width: auto;
}


@media only screen and (min-width: 470px){
    .phone{
        width: 18rem;
    }
    
    .img-background{
        height: 100%;
        width: auto;
    }

    .img-background-form-submit{
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 770px){
    .phone{
        width: 21rem;
    }
    
    .img-background{
        height: 100%;
        width: auto;
    }
}

@media only screen and (min-width: 940px){
    .img-background{
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1024px){ 
    .service-img{
        width: 100%;
        height: auto;
    }

    .phone{
        width: 25rem;
        position: relative;
        right: 0rem;
    }
}