.input{
    width: 100%;
    border: none;
    border-bottom: 0.11rem solid var(--color-dark);
    padding: 0.5rem;
    box-sizing: border-box;
    outline: none;
}

.input-btn{
    margin: 1rem 0;
}
