@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

.txt{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2rem;
}

.txt--uppercase{
    text-transform: uppercase;
}

.txt--center{
    text-align: center;
}

.txt--start{
    text-align: start;
}

.txt--cta{
    text-shadow: 0px 0px 6px rgba(35,37,56,0.7);
    cursor: pointer;
    transition: all 0.3s;
}

.txt--cta:hover{
    transform: scale(1.02, 1.02);
    text-shadow: 0px 0px 9px rgba(35,37,56,0.8);
}

/*size*/
.txt--s{
    font-size: 0.8rem;
}

.txt--m{
    font-size: 1rem;
}

.txt--l{
    font-size: 1.3rem;
}

.txt--xl{
    font-size: 1.9rem;
}


/*weight*/
.txt--light{
    font-weight: 300;
}

.txt--medium{
    font-weight: 500;
}

.txt--bold{
    font-weight: 700;
}

.txt--extrabold{
    font-weight: 900;
}