.textarea{
    resize: none;
    width: 100%;
    border: none;
    border-bottom: 0.11rem solid var(--color-dark);
    background-color: transparent;
    padding: 1rem;
    box-sizing: border-box;
    outline: none;
}
