.form-group{
    width: 75%;
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 1024px){
    .form-group{
        width: 55%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}