.btn{
    width: 12rem;
    border: none;
    padding: 0.9rem 1.3rem;
    border-radius: 0.6rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: all 0.4s;
}

 .btn:hover{
    transform: scale(1.05, 1.05);
 }