.form-item, .form-item--textarea{
    padding: 1.5rem;
    box-sizing: border-box;
    z-index: 2;
}

.form-item{
    width: 80%;
}

.form-item--textarea{
    width: 100%;
}

@media only screen and (min-width: 1024px){
    .form-item{
        width: 33%;
    }
}