@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

.title, .benefits-item, .txt--cta, .card-service, .step-item, .form-item, .form-item--textarea{
    view-timeline-name: --body;
    view-timeline-axis: block;

    animation-timeline: --body;
    animation-name: show;

    animation-range: entry 1% cover 40%;
    animation-fill-move: both;
}