.links-contact{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media only screen and (min-width: 1024px){
    .links-contact{
        width: 57%;
        justify-content: space-between;
    }
}