html{
    font-size: 17px;
}

@media only screen and (min-width: 770px) {
    html {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1100px) {
    html {
        font-size: 21px;
    }
}